
.cards-board {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('/meditative_cards/static/src/img/board.jpg');
    padding: 1.5rem;
    text-align: center;
}

.cards-container {
    height: 55%;
    width: 85%;
    margin: auto;
}

.messages-container {
    margin-top: 15%;
    height: 20%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* .meditative-card {

} */

@keyframes arrow-rotate {
    0%   { }
    100% {
      transform: rotate(360deg);
    }
  }

  #shuffle-cards {
    color: white;
    font-size: 4vw;
    cursor: pointer;
    margin:auto;
  }

  #shuffle-cards:hover {
    color: rgb(218, 218, 218);
    animation: arrow-rotate 1s infinite;
  }

  @keyframes arrow-jump {
    0%   { opacity: 0;}
    100% {
      transform: translateY(10px);
    }
  }

  #expand-more {
    position: absolute;
    bottom: -1rem;
    left: 47vw;
    color: white;
    font-size: 7vw;
    cursor: pointer;
  }

  #expand-more:hover {
    color: rgb(236, 236, 236);
    animation: arrow-jump 1s infinite;
  }
